$theme-colors : (
	"bgc-1":rgb(213,99,42),
	"bgc-2":rgb(5,104,57),
	"bgc-2-tr":rgba(5,104,57,0.7),
	"txt-1":#000,
	"txt-2":#fff
);

//$theme-colors: map-remove($theme-colors, "bgc-2-tr");
//$theme-colors: ("bgc-2-tr":rgba(213,99,42,0.5));

body, html {
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
		color: map-get($map: $theme-colors, $key: "txt-2");
	}

	a:hover {
		text-decoration: none;
		color: map-get($map: $theme-colors, $key: "txt-1");
	}

	li {
		list-style-type: none;
	}

	.invisible {
		visibility: hidden;
	}
}

.header {
	background-color: map-get($map: $theme-colors, $key: "bgc-2-tr");
	padding: 15px 40px;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0; top: 0;
	z-index: 2;
	width: 100%;

	.logo {
		font-size: 1.8em;
		color: map-get($map: $theme-colors, $key: "txt-2");
	}

	.mmenu {
		display: flex;
		justify-content: center;
		align-items: center;

		li, label {
			padding: 8px 13px;
		}

		.switch {
			position: relative;
			width: 45px;
			height: 25px;
			top: 5px;
		}

		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			width: 45px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: map-get($map: $theme-colors, $key: "bgc-1");
			transition: .4s;
		}

		.slider:before {
			position: absolute;
			content: "";
			height: 15px;
			width: 15px;
			left: 5px;
			top: 5px;
			background-color: map-get($map: $theme-colors, $key: "bgc-2");
			-webkit-transition: .4s;
			transition: .4s;
		}
		  
		input:checked + .slider {
			background-color: map-get($map: $theme-colors, $key: "bgc-2");
		}
		  
		input:focus + .slider {
			box-shadow: 0 0 1px map-get($map: $theme-colors, $key: "bgc-2");
		}
		  
		input:checked + .slider:before {
			transform: translateX(20px);
			background-color: map-get($map: $theme-colors, $key: "bgc-1");
		}

		.slider.round {
			border-radius: 34px;
		}
		  
		.slider.round:before {
			border-radius: 50%;
		}

		input:checked{
			//$theme-colors: map-remove($theme-colors, "bgc-2-tr");
			$theme-colors: ("bgc-2-tr":rgba(213,99,42,0.5));
		}
		  
		  
	}
}

.main {
	.carousel {
        max-height: 100vh;
		overflow: hidden;
	}
	
	.block {
		padding: 30px 0 50px 0;

		.caption {
			position: relative;
			text-transform: uppercase;
			font-size: 1.5em;
			text-align: center;
			letter-spacing: 5px;
			margin: 30px 0;
		}

		.caption::before {
			position: absolute;
			content: "";
			height: 3px;
			background-color: #ccc;
			width: 30%;
			bottom: -15px;
			left: 35%;
			//PREPOD_HUI.NE ZASTAVLAY DINISA PLAKAT'!!!!!!!#PREPHUI
		}

		.text {
			text-align: center;
			width: 60%;
			max-width: 700px;
			margin:  0 auto;
		}
	}

	.d-block {
		background-color: map-get($map: $theme-colors, $key: "bgc-1");
		color: #fff;
	}
}