body {
  overflow-y: scroll;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body a, html a {
  text-decoration: none;
  color: #fff;
}

body a:hover, html a:hover {
  text-decoration: none;
  color: #000;
}

body li, html li {
  list-style-type: none;
}

body .invisible, html .invisible {
  visibility: hidden;
}

.theme-1 {
  background-color: rgba(5, 104, 57, 0.7);
  -webkit-transition: 1s;
  transition: 1s;
}

.theme-2 {
  background-color: #d5632a;
  -webkit-transition: 1s;
  transition: 1s;
}

.switch {
  position: fixed;
  z-index: 10;
  width: 45px;
  height: 25px;
  top: 31px;
  right: 30px;
}

#themeswapper {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 45px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d5632a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  top: 5px;
  background-color: #056839;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch .slider {
  background-color: #056839;
}

input:focus + .switch .slider {
  -webkit-box-shadow: 0 0 1px #056839;
          box-shadow: 0 0 1px #056839;
}

input:checked + .switch .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  background-color: #d5632a;
}

.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked ~ .theme-1 {
  background-color: rgba(213, 99, 42, 0.7);
}

input:checked ~ .main .theme-2 {
  background-color: #056839;
}

.header {
  padding: 15px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

.header .logo {
  font-size: 1.8em;
  color: #fff;
}

.header #mmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header #mmenu li, .header #mmenu label {
  padding: 8px 13px;
}

.header #mmenu li:last-of-type {
  margin-right: 35px;
}

.main {
  position: relative;
}

.main .carousel {
  max-height: 100vh;
  overflow: hidden;
}

.main .block {
  padding: 30px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .block .caption {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 5px;
  margin: 30px 0;
}

.main .block .caption::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #ccc;
  width: 30%;
  bottom: -15px;
  left: 35%;
}

.main .block .text {
  text-align: center;
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
}

.main .block .img {
  max-width: 350px;
  margin: 10px auto;
}

.main .block table {
  width: 80%;
  margin: 20px auto;
}

.main .block table td {
  border: 1px solid #000;
  padding: 8px 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.main .block table td:hover {
  background-color: #ccc;
}

.main .block table th {
  padding-bottom: 15px;
}

.main .block table .price {
  text-align: right;
}

.main #news .text {
  text-align: justify;
}

.main #news .left {
  margin: 10px 10px 0 0;
  float: left;
}

.main #news .right {
  margin: 10px 0 0 10px;
  float: right;
}

.main #map img {
  min-width: 700px;
}

.main .d-block {
  color: #fff;
}

.main form {
  padding: 15px 35px;
  border: 2px solid #056839;
  border-radius: 8px;
  width: 60vw;
  min-width: 315px;
  max-width: 540px;
  margin: 20px auto;
}

.main .form-group-handler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: calc(40vh - 63px);
  min-height: 248px;
}

.main .form-group {
  position: relative;
  margin: 5px 0;
}

.main .form-group label {
  font-size: 1.2em;
  position: absolute;
  padding: 0 5px;
  z-index: 2;
  left: 8px;
  top: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.main .form-group input[type="text"], .main .form-group input[type="password"] {
  font-size: 1.3em;
  padding: 5px 13px;
  border: 2px solid #056839;
  border-radius: 5px;
  width: 100%;
}

.main .form-group input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
.main .form-group input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: red;
}

.main .form-group input[type="text"]:valid,
.main .form-group input[type="password"]:valid {
  border-color: #056839;
}

.main .form-group input[type="text"]:focus,
.main .form-group input[type="password"]:focus {
  border-color: blue;
}

.main .form-group input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
.main .form-group input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label,
.main .form-group input[type="text"]:valid + label,
.main .form-group input[type="password"]:valid + label,
.main .form-group input[type="text"]:focus + label,
.main .form-group input[type="password"]:focus + label {
  font-size: 0.8em;
  top: -9px;
}

.main .form-group input[type="submit"] {
  min-width: 70px;
  min-height: 35px;
  background-color: #056839;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .form-group input[type="submit"]:hover {
  border-color: #056839;
  background-color: #fff;
  color: #056839;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 100px;
  padding: 20px 0;
}

.footer .totop {
  text-align: center;
  display: block;
  width: 100%;
  color: #fff;
}

.footer .copy {
  float: right;
  font-size: 0.8em;
  color: #fff;
  margin-right: 50px;
}
/*# sourceMappingURL=site.css.map */