<div class="header">
    <div class="wrapper">
        <a href="" class="logo">Logo</a>
        <nav class="mmenu">
            <li><a href="">Home</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Pre-Order</a></li>
            <li><a href="">Search</a></li>
        </nav>
    </div>
</div>
<div class="main">
    <div class="wrapper">
        <div class="carousel">

        </div>

        <div class="block l-block">
            <h3 class="caption">Features</h3>

        </div>

        <div class="block d-block">
            <h3 class="caption">News</h3>

        </div>

        <div class="block l-block">
            <h3 class="caption">Make a pre-order</h3>

        </div>

        <div class="block l-block">
            <h3 class="caption">Our stores</h3>

        </div>
    </div>
</div>
<div class="footer">
    <div class="wrapper">
        <a href="" class="totop"></a>
        <p class="copyright"></p>
    </div>
</div>